<div class="contentModal corpscarte">    <div class=" titrecarte">
                    <h5 class="col-xs-10">Charger des photos</h5>


    </div>
    <div class="allbody">
    <div class="corpsmodal">


</div>
</div>
  <div class="card-footer">
<button type="button" id="close2" class="close" data-dismiss="modal" aria-hidden="true">Fermer la fenêtre <i class="far fa-times"></i></button>
  </div>

</div>
