<div class="card flex-row client"><div class="card-img-left example-card-img-responsive userlogo"><div><%=client.firstname[0]%></div></div>
  <div class="card-body">
    <h4 class="card-title h5 h4-sm"><%=client.fullname%></h4>
    <p class="card-text">Poster publiquement</p>
  </div>
</div>

